* {
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p {
    padding: 1.5rem 0;
    color: rgb(228, 217, 209);
    font-size: 1.1rem;
}

a {
    padding: 1.5rem 1rem;
    text-decoration: none;
    color: rgb(194, 114, 114);
}

a:hover {
    color: rgb(192, 81, 81);
    transition: color .15s ease-in-out;
}