* {
    box-sizing: border-box;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

nav a {
    text-decoration: none;
    font-family: 'Space mono', monospace;
    text-align: center;
    display: block;
    color: #fff;
    padding: .5rem 1rem;
}

.sign-up {
    border: 1px solid #fff;
    border-radius: 9999px;
}

nav a:hover {
    color: #999;
    transition: background-color .15s ease-in-out;
}

.sign-up:hover {
    background-color: #fff;
    color: #000;
}

p {
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
}


/* tablet view */

@media (min-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav a {
        float: right;
    }
    .home {
        float: left;
    }
    /* Clearfix */
    nav::after {
        content: "";
        clear: both;
        display: block;
    }
    body {
        width: 60%;
        margin: 5.25rem auto 1.25rem;
    }
    p {
        margin-bottom: 1.25rem;
        padding: .5rem;
    }
}